<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <header>
        <h1>Admin Panel</h1>
    </header>

    <main class="admin-panel-container">
        <h2 style="text-align: center;">User Management</h2>

 
        <!-- Search Bar -->
        <div class="small-search-bar">
            <form action="/adminsearch" method="get">
                <input type="text" name="q" id="searchInput" placeholder="Search users..." />
                <button type="submit">SEARCH🔍</button>
            </form>
        </div>
       
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td>
                            <a href="/update/<%= user.id %>" class="update-icon">✎</a>
                            <a href="/delete/<%= user.id %>" class="delete-icon">❌</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>

    
</script>

</body>

</html>
